<!DOCTYPE html>
<html lang="en">

<head>
  <!--  Meta  -->
  <meta charset="UTF-8">
  <title>My New Project!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--  Styles  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  <link rel="stylesheet" href="styles/index.processed.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link disabled" href="index.html" tabindex="-1" aria-disabled="true">Home</a>
          <a class="nav-link" href="sevenAC.html">7 AC</a>
          <a class="nav-link" href="eightAB.html">8 AB</a>
          <a class="nav-link" href="nineAC.html">9 AC</a>
          <a class="nav-link" href="onehoundredX.html">100-104</a>
          <a class="nav-link" href="#">102</a>
          <a class="nav-link" href="#">104</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row" ng-app="notebooks" ng-controller="NotebookListCtrl">
      <div class="col" class="notebooks">
        <p>7AC</p>
        <input type="text" placeholder="Search" id="query" ng-model="queryOne" />
        <!-- <select ng-model="orderListOne">
          <option value="job">By job</option>
          <option value="-printer">Newest</option>
          <option value="printer">Oldest</option>
        </select> -->
        <ul id="notebook_ul">
          <li ng-repeat="notebook in SevenAC | filter:queryOne | orderBy: orderList">
            <div class="center">Job Name: {{notebook.job}}</div>
            <div class="row">
              <div ng-show="notebook.Detail" class="col-8">DET {{notebook.bin1}} = {{notebook.Detail}}</div>
            </div>
            <div class="row">
              <div ng-show="notebook.Summary" class="col-8">SUM {{notebook.bin4}} = {{notebook.Summary}}</div>
            </div>
<!--             <div class="">Printers: {{notebook.printer}}</div> -->
          </li>
        </ul>
        <span>Number of Snapshots: {{SevenAC.length}}</span>
      </div>

      <div class="col" class="notebooks">
        <p>8AB</p>

        <input type="text" placeholder="Search" id="query" ng-model="queryTwo" />
        <!-- <select ng-model="orderListTwo">
          <option value="job">By job</option>
          <option value="-printer">Newest</option>
          <option value="printer">Oldest</option>
        </select> -->
        <ul id="notebook_ul">
          <li ng-repeat="notebook in EightAB | filter:queryTwo | orderBy: orderList">
            <div class="center">Job: {{notebook.job}}</div><br>
            <div class="row">
              <div ng-show="notebook.Snapshot" class="col-8">Bin {{notebook.bin4}} = {{notebook.Snapshot}}</div></div>
            <div class="row">
              <div ng-show="notebook.Snapshot2" class="col-8">Bin {{notebook.bin6}} = {{notebook.Snapshot2}}</div></div>
              <div class="">Printers: {{notebook.printer}}</div>
           </li>
        </ul>
      <span>Number of Snapshots: {{EightAB.length}}</span>
    </div>

    <div class="w-100"></div>

    <div class="col" class="notebooks">
      <p>9AC</p>
      <input type="text" placeholder="Search" id="query" ng-model="queryThree" />
      <!-- <select ng-model="orderListThree">
          <option value="job">By job</option>
          <option value="-printer">Newest</option>
          <option value="printer">Oldest</option>
        </select> -->
      <ul id="notebook_ul">
        <li ng-repeat="notebook in NineAC | filter:queryThree | orderBy: orderList">
          <div class="center">Job: {{notebook.job}}</div><br>
          <div ng-show="notebook.Detail">DET {{notebook.bin1}} is {{notebook.Detail}}</div>
          <div ng-show="notebook.Summary">SUM {{notebook.bin4}} is {{notebook.Summary}}</div>
          <div class="">Printers: {{notebook.printer}}</div>
        </li>
      </ul>
      <span>Number of Snapshots: {{notebooks.length}}</span>
    </div>

    <div class="col" class="notebooks">
      <p>100-104</p>
      <input type="text" placeholder="Search" id="query" ng-model="queryFour" />
      <!-- <select ng-model="orderListFour">
          <option value="job">By job</option>
          <option value="-printer">Newest</option>
          <option value="printer">Oldest</option>
        </select> -->
      <ul id="notebook_ul">
        <li ng-repeat="notebook in OneZeroFour | filter:queryFour | orderBy: orderList">
          <div class="center">Job: {{notebook.job}}</div><br>
          <div class="row">
            <div class="col-8" ng-show="notebook.Detail">DET is {{notebook.Detail}}</div>
            <div class="col-1">{{notebook.DetPerf}}</div>
          </div>
          <div class="row">
            <div class="col-8" ng-show="notebook.Summary">SUM is {{notebook.Summary}}</div>
            <div class="col-1">{{notebook.SumPerf}}</div>
          </div>
          <div class="">Printers: {{notebook.printer}}</div>
        </li>
      </ul>
      <span>Number of Snapshots: {{OneZeroFour.length}}</span>
    </div>

  </div>
  </div>

  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js'></script>
  <script src='https://pxtrack.herokuapp.com/embed/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyIjoxLCJ0aXRsZSI6ImNvZGVwZW4uaW8gaGl0cyIsImlhdCI6MTQ1ODYwMzAzNX0.iveKvifh0UE3q-1ym6_nvyQ_4cJu_ewGPhrt5eTCicQ/pxtrack.js'></script>
  <!-- <script src="./script.js"></script> -->

  <script src="scripts/index.js"></script>

</body>

</html>
